In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv(r"D:\Downloads\databases\Intent.csv")

In [3]:
df.head()

,Tags,Patterns
0,Abducens nerve Palsy,Binocular diplopia (worse at distance or later...
1,Amaurosis Fugax,Temporary fleeting of vision in one or both eyes
2,Acute encephalitis syndrome,"High Fever,Headache,Vomiting,Confusion,Seizure..."
3,Antepartum hemorrhage (Bleeding in late pregna...,"Vaginal bleeding,Abdominal pain,Back pain,Uter..."
4,Anaemia during pregnancy (Maternal anemia),"fatigue,weakness,light-headedness,mild dyspnea..."

In [4]:
df.shape

(278, 2)

In [5]:
import nltk
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
import string

stopwords = nltk.corpus.stopwords.words('english')
ps = nltk.PorterStemmer()

def clean_text(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    tokens = re.split('\W+', text)
    text = [ps.stem(word) for word in tokens if word not in stopwords]
    return text

# TF-IDF
tfidf_vect = TfidfVectorizer(analyzer=clean_text)
X_tfidf = tfidf_vect.fit_transform(df['Patterns'])
X_tfidf_feat = pd.concat([df['Tags'],  pd.DataFrame(X_tfidf.toarray())], axis=1)


# X_tfidf_feat=X_tfidf_feat[:]
X_tfidf_feat.head()

,Tags,0,1,2,3,4,5,6,7,8,...,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744
0,Abducens nerve Palsy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Amaurosis Fugax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Acute encephalitis syndrome,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Antepartum hemorrhage (Bleeding in late pregna...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Anaemia during pregnancy (Maternal anemia),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
from sklearn.preprocessing import OrdinalEncoder

In [7]:
oe = OrdinalEncoder()

In [8]:
oe.fit(X_tfidf_feat[['Tags']])

OrdinalEncoder()

In [9]:
tags_1 = oe.transform(X_tfidf_feat[['Tags']])
tags_1

array([[  1.],
       [ 11.],
       [  5.],
       [ 19.],
       [ 14.],
       [  3.],
       [  2.],
       [ 18.],
       [ 12.],
       [ 25.],
       [ 16.],
       [ 17.],
       [ 22.],
       [ 27.],
       [ 31.],
       [ 29.],
       [  6.],
       [ 28.],
       [ 13.],
       [ 20.],
       [  7.],
       [ 26.],
       [ 24.],
       [ 15.],
       [ 10.],
       [  4.],
       [ 30.],
       [ 23.],
       [ 21.],
       [  9.],
       [  8.],
       [  0.],
       [ 41.],
       [ 42.],
       [ 43.],
       [ 35.],
       [ 32.],
       [ 36.],
       [ 40.],
       [ 37.],
       [ 38.],
       [ 34.],
       [ 45.],
       [ 39.],
       [ 44.],
       [254.],
       [ 33.],
       [255.],
       [256.],
       [ 47.],
       [ 53.],
       [ 54.],
       [ 56.],
       [ 67.],
       [ 55.],
       [ 51.],
       [ 68.],
       [ 57.],
       [ 46.],
       [ 65.],
       [ 64.],
       [ 63.],
       [ 50.],
       [ 59.],
       [ 68.],
       [ 61.],
       [ 62.],
       [ 48.],
       [ 66.],
       [ 52.],
       [ 60.],
       [ 49.],
       [ 58.],
       [ 76.],
       [ 71.],
       [ 72.],
       [ 74.],
       [ 81.],
       [ 69.],
       [ 75.],
       [ 83.],
       [ 70.],
       [ 78.],
       [ 82.],
       [ 73.],
       [ 79.],
       [ 80.],
       [ 77.],
       [ 85.],
       [ 89.],
       [ 90.],
       [ 97.],
       [ 88.],
       [ 91.],
       [ 95.],
       [ 93.],
       [ 96.],
       [ 92.],
       [ 94.],
       [ 98.],
       [ 87.],
       [ 99.],
       [100.],
       [ 84.],
       [ 86.],
       [259.],
       [262.],
       [265.],
       [266.],
       [267.],
       [261.],
       [264.],
       [263.],
       [257.],
       [260.],
       [258.],
       [102.],
       [103.],
       [105.],
       [106.],
       [107.],
       [108.],
       [104.],
       [101.],
       [109.],
       [115.],
       [116.],
       [110.],
       [114.],
       [119.],
       [123.],
       [113.],
       [122.],
       [120.],
       [112.],
       [111.],
       [121.],
       [117.],
       [124.],
       [118.],
       [129.],
       [126.],
       [130.],
       [128.],
       [127.],
       [125.],
       [131.],
       [132.],
       [134.],
       [268.],
       [268.],
       [268.],
       [133.],
       [139.],
       [136.],
       [137.],
       [138.],
       [143.],
       [141.],
       [142.],
       [140.],
       [135.],
       [269.],
       [148.],
       [145.],
       [149.],
       [152.],
       [158.],
       [150.],
       [153.],
       [151.],
       [159.],
       [157.],
       [144.],
       [147.],
       [155.],
       [146.],
       [156.],
       [154.],
       [160.],
       [161.],
       [162.],
       [163.],
       [164.],
       [166.],
       [168.],
       [177.],
       [178.],
       [179.],
       [170.],
       [167.],
       [165.],
       [176.],
       [175.],
       [171.],
       [169.],
       [174.],
       [172.],
       [173.],
       [197.],
       [190.],
       [180.],
       [183.],
       [188.],
       [270.],
       [198.],
       [184.],
       [189.],
       [182.],
       [185.],
       [187.],
       [194.],
       [181.],
       [196.],
       [195.],
       [199.],
       [193.],
       [186.],
       [191.],
       [192.],
       [200.],
       [201.],
       [202.],
       [204.],
       [208.],
       [206.],
       [205.],
       [207.],
       [203.],
       [229.],
       [271.],
       [210.],
       [212.],
       [214.],
       [216.],
       [272.],
       [228.],
       [225.],
       [213.],
       [217.],
       [218.],
       [223.],
       [227.],
       [211.],
       [221.],
       [224.],
       [222.],
       [209.],
       [215.],
       [220.],
       [226.],
       [219.],
       [232.],
       [233.],
       [238.],
       [239.],
       [237.],
       [236.],
       [235.],
       [231.],
       [234.],
       [230.],
       [240.],
       [241.],
       [242.],
       [244.],
       [245.],
       [243.],
       [248.],
       [247.],
       [246.],
       [249.],
       [250.],
       [252.],
       [252.],
       [251.],
       [251.],
       [253.]])

In [10]:
x = X_tfidf_feat.drop('Tags',axis=1)
y = tags_1

In [11]:
x

,0,1,2,3,4,5,6,7,8,9,...,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.30469,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.201127,0.0,0.0
275,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [12]:
from sklearn.ensemble import RandomForestClassifier

In [13]:
model_1 = RandomForestClassifier()

In [14]:
model_1.fit(x,y)

<ipython-input-14-291ee0f4fdd2>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_1.fit(x,y)

RandomForestClassifier()

In [15]:
x[0:1]

,0,1,2,3,4,5,6,7,8,9,...,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
model_1.score(x,y)

1.0

In [17]:
model_1.predict(x[1:2])

array([11.])

In [18]:
x.iloc[[1]]

,0,1,2,3,4,5,6,7,8,9,...,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
model_1.predict(x.iloc[[10]])

array([16.])

In [20]:
six = df['Patterns'][6]
six

'polyp,adenomyosis,leiomyoma,malignancy,hyperplasia'

In [21]:
clean_text(six)

['polypadenomyosisleiomyomamalignancyhyperplasia']

In [22]:
x.iloc[[11]]

,0,1,2,3,4,5,6,7,8,9,...,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
model_1.predict(x.iloc[[11]])

array([17.])